./bsport-technical-assessment-backend-main/general/__pycache__/
./bsport-technical-assessment-backend-main/user/__pycache__/
./bsport-technical-assessment-backend-main/user/migrations/__pycache__/
docker-desktop-4.19.0-amd64.deb