<h1>Create Family</h1>
{% comment %} Cand add action="" parameter and specify an other url : signifies that the data will be sent at the view corresponding to the given url {% endcomment %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    <p>
        Are you in a relationship ? <button type="button" id="unlockButton">No</button> <span id="instruction">click on the button to change the status</span>
    </p>
    <div id="additionalFields">
        {% for child_form in formset %}
        {{ child_form }}
    {% endfor %}
    </div>

    <button type="submit">Create</button>
</form>

<a href="{% url 'family:family_list' %}" class="btn btn-primary">Go back to the family list</a>
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Hide the additional fields initially
  $('#additionalFields').hide();

  // Show additional fields when the button is clicked
  $('#unlockButton').click(function() {
    $('#additionalFields').show();
    $(this).html('Yes');
    $('#instruction').html("");
  });
});
</script>