<form id="myForm" method="POST">
    {% comment %}  action="{% url 'form_submit' %}" {% endcomment %}
    {% csrf_token %}
    
    {{ form.field1.label_tag }}
    {{ form.field1 }}
  
    <p>
        Are you in a relationship ? <button type="button" id="unlockButton">No</button>
    </p>
    <div id="additionalFields">
      {{ form.field2.label_tag }}
      {{ form.field2 }}
  
      {{ form.field3.label_tag }}
      {{ form.field3 }}
    </div>
  
    <button type="submit">Submit</button>
  </form>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    // Hide the additional fields initially
    $('#additionalFields').hide();
  
    // Show additional fields when the button is clicked
    $('#unlockButton').click(function() {
      $('#additionalFields').show();
      $(this).html('Yes');
    });
  });
  </script>